
 
.card{
  /* Change background color */
  background-color: rgba(255, 255, 255, 0.2);

  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 8px;
  
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  backdrop-filter: blur(14px);

  border-radius: 12px;

} 

img{
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}
body{
    
        /* background-image: url('/static/bg.jpg'); */
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        background-color: transparent;
        
}
#container {
    max-width: 300px;
  
    /* Center the container in middle on horizontal axis */
    margin: 0 auto;
  
    /* Add empty space above the container (20% of the view height) */
    margin-top: 5vh;
  }
  .card_details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
  }

  .icon-rtl {
    padding-left: 25px;
    margin: 10px;
    
    background: url("user.png") no-repeat left;
    background-size: 20px;

  }
  .icon-email{
    padding-left: 25px;
    margin: 10px;
    
    background: url("email.png") no-repeat left;
    background-size: 20px;
  }
  .icon-pass{
    padding-left: 25px;
    margin: 10px;
    
    background: url("pass.png") no-repeat left;
    background-size: 20px;
  }
  #input-field{
    width: 100%;
    padding: 10px;
    outline: none;
  }

  #input-field:focus{
    border: 2px solid dodgerblue;

  }

  .btn {
    background-color: black;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin: 5px;
    border-radius: 50px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  a{
    text-decoration: none;
  }